@page "/author/categories/create"
@using BCBlog.Client.Components
@using BCBlog.Client.Components.UI
@using BCBlog.Client.Helpers
@using BCBlog.Client.Services.Interfaces
@inject ICategoryDTOService CategoryService
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Author")]

<PageTitle>Blog | Categories</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Create a Category
                </button>
                <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton" style="width: 400px;">
                    <EditForm Model="newCategory" OnValidSubmit="HandleSubmit">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label class="form-label" for="categoryImage">Category Image</label>
                            <div>
                                <InputFile OnChange="OnFileChange" id="categoryImage" class="form-control" accept=".png, .jpg, .jpeg, .svg" />
                                <img src="@(string.IsNullOrEmpty(newCategory.ImageUrl) ? ImageHelper.DefaultProfilePicture : newCategory.ImageUrl)" class="rounded mt-2" style="width: 100%; height: auto;" />
                                <span class="text-danger">@imageError</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="categoryName">Category Name</label>
                            <InputText id="categoryName" class="form-control" placeholder="Category Name" @bind-Value="newCategory.Name" />
                            <ValidationMessage For="() => newCategory.Name"></ValidationMessage>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="categoryDescription">Description</label>
                            <InputTextArea id="categoryDescription" class="form-control" placeholder="Category Description" @bind-Value="newCategory.Description" />
                            <ValidationMessage For="() => newCategory.Description"></ValidationMessage>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-floppy"></i> Save
                        </button>
                    </EditForm>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Created Categories:</h3>
            @foreach (CategoryDTO category in categories)
            {
                <ul class="list-group mt-3">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@category.ImageUrl" class="img-fluid rounded-circle" alt="category image" style="width: 300px; height: 300px; object-fit: cover;">
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-center g-3 p-3">
                                <h5 class="text-center">@category.Name</h5>
                                <hr>
                                <p class="text-center mt-3"><b>Description:</b></p>
                                <p class="text-center">@category.Description</p>
                                <hr />
                                <CategoriesList Category="@category" DeleteTheCategory="DeleteCategory" UpdateTheCategory="UpdateCategory"></CategoriesList>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
    

@code {
    private CategoryDTO newCategory = new CategoryDTO();
    private IEnumerable<CategoryDTO> categories = new List<CategoryDTO>();
    private string? imageError;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetCategoriesAsync();
    }

    private async Task HandleSubmit()
    {
        try
        {
            await CategoryService.CreateCategoryAsync(newCategory);
            categories = (await CategoryService.GetCategoriesAsync()).ToList();
            newCategory = new CategoryDTO();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    private async Task OnFileChange(InputFileChangeEventArgs changeEvent)
    {
        if (changeEvent.File is null)
        {
            newCategory!.ImageUrl = ImageHelper.DefaultProfilePicture;
        }
        else if (changeEvent.File.Size > ImageHelper.MaxFileSize)
        {
            imageError = "Images must be less than 5MB";
        }
        else
        {
            try
            {
                newCategory!.ImageUrl = await ImageHelper.GetDataUrl(changeEvent.File);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                imageError = "Could not read the selected file. Please select a different image.";
            }
        }
    }

    private async Task DeleteCategory(int categoryId)
    {
        try
        {
            await CategoryService.DeleteCategoryAsync(categoryId);
            categories = await CategoryService.GetCategoriesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }

    private async Task UpdateCategory(CategoryDTO category)
    {
        try
        {
            await CategoryService.UpdateCategoryAsync(category.Id, category);
            categories = await CategoryService.GetCategoriesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
    }
}